.our-blog {
    padding-top: 60px;
    padding-bottom: 60px;
    .section-header {
        text-align: center;
    }
    .blog-card {
        padding-top: 30px;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            margin-bottom: 12px;
        }
        h4{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        p{
            color: #828282;
        }
        
    }
}
